NEXT_PUBLIC_SUPABASE_URL=https://vbwveakwcsviwqvidjrl.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_DEMO_BUSINESS_ID=
SUPABASE_SERVICE_ROLE_KEY=
APP_ENCRYPTION_KEY=
AGENT_TOKEN_PEPPER=
MSG91_TEST_MODE=true
